* {
  font-family: "Trebuchet MS", sans-serif;
  text-decoration: none;
}
body {
}
.top-logo {
  width: 2vmax;
  height: 2.5vmax;
  margin-right: 0.1rem;
  margin-left: 0.5rem;
}

header {
  color: rgb(255, 255, 255);
  background-color: #000;
  display: flex;
  position: fixed;
  width: 100%;
  /* border: 1px solid white; */
  justify-content: space-around;
  align-items: center;
  padding: 0 0;
  margin: 0 0;
  height: 3rem;
}
h3 a {
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 0.6rem;
  align-items: center;
  margin: 0 0;
}

li {
  list-style: none;
  margin: 0 0.4rem;
  text-transform: uppercase;
}

.gnavi__wrap {
  width: 50%;
  margin: 0 auto;
}
.gnavi__lists {
  display: flex;
}
.gnavi__list {
  width: 20%;
  position: relative;
  transition: all 0.3s;
}

.gnavi__list:hover::before {
  background-color: #0071bb;
}
.gnavi__list a {
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.5rem;
  letter-spacing: 0.05em;
  font-weight: 600;
  transition: all 0.3s;
}
.gnavi__list:hover a {
  color: #fff;
}
.dropdown__lists {
  display: none;
  width: 100%;
  position: absolute;
  /* top: 60px; */
  left: 0;
  padding: 0 0;
  margin: 0 0;
  /* padding-top: 0.2rem; */
}
.gnavi__list:hover .dropdown__lists {
  display: block;
}
.dropdown__list {
  background-color: #021d2f;
  width: 200%;
  height: 1rem;
  transition: all 0.3s;
  position: relative;
  padding: 0 0;
  margin: 0 0;
}

.dropdown__list:hover {
  background-color: #003558;
}
.dropdown__list a {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  margin-left: 0.3rem;
}
.dropdown__list a::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  transform: rotate(135deg);
  position: absolute;
  right: 15px;
  top: calc(50% - 5px);
}

.gnavi__list {
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 0.586),
      rgba(100, 200, 200, 0.583)
    ),
    linear-gradient(
      to right,
      rgb(57, 42, 135),
      rgb(0, 234, 255),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.gnavi__list:hover {
  background-size: 0 3px, 100% 3px;
}

.fixed-bg {
  background-image: url(/assets/img/inside-of-bar.jpg);
  min-height: 100%;
  background-size: cover;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  line-height: 1.5;
}
body,
html,
main {
  height: 100%;
  margin: auto 0;
}

.fixed-bg {
  min-height: auto;
  background-size: cover;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  line-height: 1.5;
}

h1.text-bar-name {
  text-align: center;
  font-size: 10em;
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 10px #000, 5px 5px 20px #000, 1px 0px 20px #def;
}
h2 {
  border: 1px solid brown;
  margin: 0;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #fff;
  height: auto;
}
h3 {
  border: 1px solid #000;
  font-size: 1rem;

  margin: 0 0;
  padding: 0 0;
}
img {
  width: 100%;
  height: auto;
}
.fixed-bg p.text-bar {
  color: #fff;
  font-size: 1em;
  line-height: 0px;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}
.text-bar-name {
  margin-top: 0;
  font-size: 4em;
  line-height: 0px;
}
.sub-text {
  color: #fff;
  line-height: 0px;
  text-shadow: 1px 1px 10px #000, 5px 5px 20px #000, 1px 0px 20px #def;
}
.text-box {
  background: rgba(255, 255, 255, 0.95);
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  max-width: 70%;
  width: 100%;
  border-radius: 8px;
}

.fixed-bg p {
  text-align: center;
  max-width: 500px;
  font-size: 0.5em;
  text-align: left;
}
.top-img {
  background: #fff 100%;
  opacity: 0.5;
}
.bg-1 {
  min-height: 100%;
  background-image: url("/assets/img/inside-of-bar.jpg");
}

.bg-menu {
  min-height: 100%;
  background-image: url("/assets/img/cocktail.jpg");
}

.bg-2 {
  background-image: url("/assets/img/cocktails.jpg");
}

.bg-whisky {
  background-image: url("/assets/img/wisky-tals2.jpg");
}

.bg-otherdrinks {
  background-image: url("/assets/img/liquors2.jpg");
}
.bg-food {
  background-image: url("/assets/img/food3.jpg");
}

.bg-access {
  background-image: url("/assets/img/accsess.jpg");
}

@media screen and (max-width: 550px) {
  .logo a {
    font-size: 1rem;
  }
  h1 {
  }
}
