* {
  font-family: "Trebuchet MS", sans-serif;
  text-decoration: none;
}
body {
}
.top-logo {
  width: 1.5rem;
  height: 1.8rem;
  /* margin-right: 5px;
  margin-left: 5rem;
  margin-top: 10px;
  margin-bottom: 10px; */
}

.logo a {
  text-align: center;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 10px #000, 5px 5px 20px #000, 1px 0px 20px #def;
}

header,
.navbar {
  position: fixed;
  width: 100%;
}
.navbar-toggler-icon {
  background-color: rgb(104, 96, 117);
  border-radius: 3px;
}

.top.bar-name {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 13em;
  line-height: 1;
}

.bar-name-set {
  padding-left: 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

a.bar-name-1 {
  color: #fff;
  text-decoration: none;
  font-size: 45%;
  padding: 0;
  margin: 0;
}
a.bar-name-2 {
  text-decoration: none;
  color: #fff;
  font-size: 90%;
  padding: 0;
  margin: 0;
}
h3 a {
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 0.6rem;
  align-items: center;
  margin: 0 0;
}

li {
  text-transform: uppercase;
  color: #fff;
}
.navbar {
  background-color: #000;
}
.navbar-toggler-icon {
  background-color: white;
}
.nav-link {
  display: flex;
  justify-content: center;
  color: #fff;
}
.nav-link a {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.navbar-nav {
  text-transform: uppercase;
  align-items: center;
  text-align: center;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}
.dropdown-item {
  /* display: flex; */
  justify-content: center;
  text-decoration: none;
}
.dropdown-item a {
  text-decoration: none;
  color: antiquewhite;
}

a.nav-link.dropdown-toggle {
  position: relative;
  margin-left: 10px;
}
.toggle-parent {
  position: relative;
}

.dropdown__lists {
  position: absolute;
  left: 50%; /* ←ここ！ */
  transform: translateX(-16%); /* ←ここ！ */
}
.dropdown-menu-dark {
  text-align: center;
}
.nav-link {
  color: #fff;
  justify-content: center;

  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.586),
      rgba(0, 0, 0, 0.583)
    ),
    linear-gradient(
      to right,
      rgb(57, 42, 135),
      rgb(0, 234, 255),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  width: 100px;
}

a.nav-link:visited {
  color: #fff;
}

a.nav-link:hover {
  color: #fff;
  background-size: 0 3px, 100% 3px;
}

.fixed-bg {
  background-image: url(/assets/img/inside-of-bar.jpg);
  min-height: 100%;
  background-size: cover;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  line-height: 1.5;
}
body,
html,
main {
  height: 100%;
  margin: auto 0;
}

.fixed-bg {
  min-height: auto;
  background-size: cover;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  line-height: 1.5;
}

h1 {
  text-align: center;
  font-size: 10em;
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 10px #000, 5px 5px 20px #000, 1px 0px 20px #def;
}
h2 {
  border: 1px solid brown;
  margin: 1.3rem 0;
  font-size: 3rem;
  color: #fff;
  height: auto;
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 10px #000, 5px 5px 20px #000, 1px 0px 20px #def;
}
h3 {
  border: 1px solid #000;
  font-size: 1rem;

  margin: 0 0;
  padding: 0 0;
}
.text-img {
  width: 100%;
  height: auto;
}
.container.top {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 90%;
}
p.text-bar {
  color: #fff;
  width: 100%;
  text-align: center !important;
  font-size: 1.7em !important;
  line-height: 2em;
  margin-bottom: 0;
  text-transform: uppercase;
}
.text-bar-name {
  margin-top: 10px;
  font-size: 10em;
  line-height: 0.9em;
  width: 100%;
}
.sub-text {
  color: #fff;
  line-height: 0px;
  text-shadow: 1px 1px 10px #000, 5px 5px 20px #000, 1px 0px 20px #def;
}
.text-box {
  background: rgba(255, 255, 255, 0.95);
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 50px;
  max-width: 70%;
  width: 100%;
  border-radius: 8px;
}

.fixed-bg p {
  text-align: center;
  /* max-width: 500px; */
  font-size: 0.5em;
  text-align: left;
}
.top-img {
  background: #fff 100%;
  opacity: 0.5;
}
.bg-1 {
  min-height: 100%;
  background-image: url("/assets/img/inside-of-bar.jpg");
}

.bg-menu {
  min-height: 100%;
  background-image: url("/assets/img/cocktail.jpg");
}

.bg-2 {
  background-image: url("/assets/img/cocktails.jpg");
}

.bg-whisky {
  background-image: url("/assets/img/wisky-tals2.jpg");
}

.bg-otherdrinks {
  background-image: url("/assets/img/liquors2.jpg");
}
.bg-food {
  background-image: url("/assets/img/food3.jpg");
}

.bg-access {
  background-image: url("/assets/img/accsess.jpg");
}

@media screen and (max-width: 560px) {
  .top-logo {
    width: 2.3vmax;
    height: 2.7vmax;
    margin-right: 2px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .top.bar-name {
    padding: 0;
  }
  .gnavi__wrap {
    /* width: auto; */
    margin: 0 0;
  }
  .text-bar-name {
    font-size: 500%;
  }
  .gnavi__lists {
    font-size: 80%;
    margin-right: 10px;
  }
  header {
    height: 6%;
  }

  /*  */
}
